<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>

    <appender name="A1" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="[%d{HH:mm:ss,SSS}] %-5p [%t] %37c %3x - %m%n" />
        </layout>
    </appender>

    <!--
        Specific logger configuration(s); uncomment and set to
        ALL|DEBUG|ERROR|FATAL|INFO|OFF|WARN as necessary when debugging
    -->

    <!-- 
    <logger name="org.springframework">
        <level value="DEBUG" />
    </logger>
    -->

    <root>
        <priority value="ERROR" />
        <appender-ref ref="A1" />
    </root>

</log4j:configuration>
